$t: 2.5s;
$e1: cubic-bezier(0.8, 0.00, 0.1, 1);
$e2: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$er: linear;

$color: hsl(15,75%,40%);
$font: 'Abril Fatface', sans-serif;

$slides: 4;
$images: url(https://unsplash.it/g/1500/2200?image=838) url(https://unsplash.it/g/1500/1000?image=1078) url(https://unsplash.it/g/1500/1000?image=1077)  url(https://unsplash.it/g/1500/1200?image=345);

html, body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.untitled{	
	position: absolute;
	height: 100%;
	width: 100%;
	@keyframes rotateHue {
		0%{ filter: hue-rotate(0deg); }
